
#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#inner {
    display: table-cell;
    vertical-align: middle;
}

.middle {
    margin: 0 auto;
    padding: 10px;
}


.container-rect {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.15);
}

.input-margin {
    margin-top: 0.5em;
}

body {
    height: 100%;
}


.clock {
    width: 320px;
}

.header {
    padding-bottom: 4em;
    padding-top: 2em;
    text-align: center;
}


.workTimeText {
    font-family:'Lobster',cursive;
    font-size: 60pt;
    background-color: #068eb7;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,1) -3px -2px 0px;
}


.expandableContainer {
    margin-top: 2.5em;
}

#overtime {
    width: 130px;
    font-family:'Lobster',cursive;
    font-size: 25pt;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.hidden {
    visibility: hidden;
}

#closeCookieButton {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.flip-clock-divider.seconds,
.clock ul:nth-child(8),
.clock ul:nth-child(9)
{
    display: none;
}

#bus {
    width: 345px;

}

#busDiv {
    margin: auto;
}

#busInput {
    margin-bottom: 0.5em;
}


#busIframe {
    height: 500px;
    border: none;
}

[data-theme="light"] body{
	background: #9ceaed;
	background: -moz-linear-gradient(-45deg, #9ceaed 0%, #7ae0ff 53%, #63aeff 100%);
	background: -webkit-linear-gradient(-45deg, #9ceaed 0%,#7ae0ff 53%,#63aeff 100%);
	background: linear-gradient(135deg, #9ceaed 0%,#7ae0ff 53%,#63aeff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ceaed', endColorstr='#63aeff',GradientType=1 );
}

[data-theme="light"] .container-rect {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(242,255,254,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(242,255,254,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(242,255,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2fffe',GradientType=1 );
    }

[data-theme="light"] #overtime {
	color: #ff0000;
	text-shadow: rgb(255, 255, 255) 1px 1px 0px;
    }


[data-theme="dark"] body {
	background: #2a4142;
	background: -moz-linear-gradient(-45deg, #2a4142 0%, #244751 53%, #162a40 100%);
	background: -webkit-linear-gradient(-45deg, #2a4142 0%,#244751 53%,#162a40 100%);
	background: linear-gradient(135deg, #2a4142 0%,#244751 53%,#162a40 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ceaed', endColorstr='#63aeff',GradientType=1 );
    }

[data-theme="dark"] .container-rect {
	background: rgb(43, 43, 43,1);
	background: -moz-linear-gradient(-45deg, rgba(43, 43, 43,1) 0%, rgba(35, 45, 47,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(43, 43, 43,1) 0%,rgba(35, 45, 47,1) 100%);
	background: linear-gradient(135deg, rgba(43, 43, 43,1) 0%,rgba(35, 45, 47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2fffe',GradientType=1 );
    }

[data-theme="dark"] #overtime {
	color: #bd1b1b;
	text-shadow: rgb(70, 32, 32) 1px 1px 0px;
    }

[data-theme="dark"] .form-control {
	color: #fff;
	background-color: #383838;
	border: 1px solid #6f848d;
    }

[data-theme="dark"] .form-control[readonly] {
	background-color: #555;
    }

[data-theme="dark"] .input-group-addon {
	color: #fff;
	background-color: #555;
	border: 1px solid #6f848d;
    }

[data-theme="dark"] .flip-clock-label {
	color: white !important;
    }

[data-theme="dark"] .clockpicker-popover > .popover-title {
	background-color: #333;
	color: #fff;
    }

[data-theme="dark"] .clockpicker-popover > .popover-title > .text-primary {
	color: #2e789b;
    }


[data-theme="dark"] .clockpicker-popover > .popover-content {
	background-color: #575757;
    }

[data-theme="dark"] .clockpicker-popover > .popover-content > .clockpicker-plate {
	background-color: #333;
    }

[data-theme="dark"] .clockpicker-tick {
	color: #c6c6c6;
    }

[data-theme="dark"] .clockpicker-canvas-bg {
	fill: #2e789b;
    }
