
#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#inner {
    display: table-cell;
    vertical-align: middle;
}

.middle {
    margin: 0 auto;
}

section {
    width: 300px;
    border-radius: 8px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(242,255,254,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(242,255,254,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(242,255,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2fffe',GradientType=1 );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.15);
}

.input-margin {
    margin-top: 0.5em;
}

body {
    background: #9ceaed;
    background: -moz-linear-gradient(-45deg, #9ceaed 0%, #7ae0ff 53%, #63aeff 100%);
    background: -webkit-linear-gradient(-45deg, #9ceaed 0%,#7ae0ff 53%,#63aeff 100%);
    background: linear-gradient(135deg, #9ceaed 0%,#7ae0ff 53%,#63aeff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ceaed', endColorstr='#63aeff',GradientType=1 );
}

.clock {
    width: 300px;
    padding-top: 5em;
}

.header {
    width: 565px;
    padding-top: 2em;
    padding-bottom: 4em;
}

.workTimeText {
    font-family:'Lobster',cursive;
    font-size: 100pt;
    background-color: #068eb7;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

#overtime {
    width: 130px;
    font-family:'Lobster',cursive;
    font-size: 25pt;
    background-color: #c30000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;
}

.hidden {
    visibility: hidden;
}

#cookiesConfirmation {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.15);
}


#closeCookieButton {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}


.ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span{
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transformation: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    left: -21px;
}


#debugContainer {
    margin: auto;
}


#debugCheckboxDiv {
    float: left;
}


#debugTimeDiv {
    float: left;
    width: 260px;
}
